@font-face {
    font-family: "Quick Sand Bold";
    src: url(/Fonts/Quicksand-Bold.otf);
}
@font-face {
    font-family: "Quick Sand Light";
    src: url(/Fonts/Quicksand-Light.otf);
}
body{
    padding: 0;
    margin: 0;
}
.head{
    background-color: #1C1E26;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
}
.lenguaje{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: right;
}
.lenguaje span{
    color: rgb(11,171,100);
    color: linear-gradient(90deg, rgba(11,171,100,1) 0%, rgba(59,183,143,1) 35%);;
    height: 20px;
    font-family: "Quick Sand Bold";
    font-size: 1.2rem;
    margin-right: 5%;
    margin-top: 5%;
    border: 2px solid rgb(11,171,100);

    
    padding: 1% 2% 1% 2%;
}
.logo{
    color: rgb(11,171,100);
    color: linear-gradient(90deg, rgba(11,171,100,1) 0%, rgba(59,183,143,1) 35%);;
 
}
.rotate{
    
    width: 100px  ;
    height: 100px;
    animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  }
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
  

.logoS{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.present{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;

}
.arrowDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrowBlack{
    font-size: 2rem;
    background-color: #1C1E26;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    padding: 0px 50px 5px 50px;
    color: rgb(11,171,100);
    color: linear-gradient(90deg, rgba(11,171,100,1) 0%, rgba(59,183,143,1) 35%);;
 
}
.presentation{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;

}
.hi{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1C1E26;
    

}
.hi h1{
    font-family:"Quick Sand Bold" ;
    font-size: 2.5em;
    color: #1C1E26;
}
.hi h1 span{
     color: rgb(11,171,100);
    color: linear-gradient(90deg, rgba(11,171,100,1) 0%, rgba(59,183,143,1) 35%);;
    font-family:"Quick Sand Bold" ;
}
.hi h2{
    width: 75%;
    font-size: 1.8em;
    font-family: "Quick Sand Light";
}
.hi h2 span{
    color: rgb(11,171,100);
    color: linear-gradient(90deg, rgba(11,171,100,1) 0%, rgba(59,183,143,1) 35%);;
 
    font-size: 1.1em;
    font-family:"Quick Sand Bold" ;
}
.img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img i{
    color: rgb(11,171,100);
    color: linear-gradient(90deg, rgba(11,171,100,1) 0%, rgba(59,183,143,1) 35%);;
 
}
.arrowWhite{
    font-size: 2rem;
    background-color: white;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    padding: 0px 50px 5px 50px;
    color: rgb(11,171,100);
    color: linear-gradient(90deg, rgba(11,171,100,1) 0%, rgba(59,183,143,1) 35%);;
    
 
}
.hi p{
    width: 75%;
    font-size: 1.8em;
    font-family: "Quick Sand Light";
}
.white{
    color: white;
}
.cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{
    width: 70%;
    height: 70%;
    border: 3px solid #1C1E26;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.box h2{
    font-family: "Quick Sand Bold";
    color: #1C1E26;
    font-size: 2.5em;
    border-bottom: 3px solid  rgb(11,171,100);
    
 
    padding-bottom: 10px;
}
.box p{
    font-family:"Quick Sand Light" ;
    color: #1C1E26;
    font-size: 2.1em;
    height: 20%;
    width: 60%;
    text-align: center;
}
.box div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
div button{
    padding: 0.5rem 1rem;
    font-size: 2rem;  
    font-family:"Quick Sand Bold" ; 
    background-color: white;
    color: rgb(11,171,100);
    color: linear-gradient(90deg, rgba(11,171,100,1) 0%, rgba(59,183,143,1) 35%);;
 
    border: 2px solid #1C1E26;
    cursor: pointer;
}
div p span{
    color: rgb(11,171,100);
    color: linear-gradient(90deg, rgba(11,171,100,1) 0%, rgba(59,183,143,1) 35%);;
 
    font-family:"Quick Sand Bold"  ;
}
.myInfo{
    background-color: rgb(11,171,100);
    background-color: linear-gradient(90deg, rgba(11,171,100,1) 0%, rgba(59,183,143,1) 35%);;
 
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;

}
.conta{
    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: row;
}
.redes{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 



}
.mis{
    font-family:"Quick Sand Bold" ;
    font-size: 5em;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    
    
}
.red{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;


 
}
.red1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;



}
.red1 li{
    list-style: none;
    display: flex;


}
.red2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.lista1{
    width: 100%;
    display: flex;
    flex-direction: column;

    
}
.lista1 li{
    width: 100%;
    display: flex;
    font-size: 2em;
    color: white;
    font-family:"Quick Sand Light"  ;
    padding: 40px;

}
.lista1 i{
    color: #1C1E26;
    padding-right: 10px;
}
.lista2{
    width: 100%;
    display: flex;
    flex-direction: column;

    
}
.lista2 li{
    width: 100%;
    display: flex;
    font-size: 2em;
    color: white;
    font-family:"Quick Sand Light"  ;
    padding: 40px;
}
.lista2 i{
    color: #1C1E26;
    padding-right: 10px;
}
.img2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.redes2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;


}
.arrowGreen{
    font-size: 2rem;
    background-color: rgb(11,171,100);
   
 
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    padding: 0px 50px 5px 50px;
    color: white;
}
.contact{
    background-color: #1C1E26;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.detail{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail h2{
    height: 30px;
    color: white;
    font-family:"Quick Sand Bold" ;
    font-size: 4em;
}
.detail p{
    color: white;
    font-size: 3em;
    font-family: "Quick Sand Light" ;
    
}
form{
    width: 100%;
    height:100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;

}
.two{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;

 
}
.formi{
    width: 80%;
}
#name{
    width: 88%;
    font-size: 1.5em;
    border: none;
    background-color: #1C1E26;
    border-bottom: 1px solid white;
    padding: 20px;
    color: white;

}
input::placeholder {
    color: white;
    font-family:"Quick Sand Light" ;
    font-size: 30px;
    margin-left: 60px;
}
.center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#number{
    width: 100%;
    margin-right: 10%;
    color: white;
    font-size: 1.5em;
    border: none;
    background-color: #1C1E26;
    border-bottom: 1px solid white;
    padding: 20px;

}
#number::placeholder{
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
#mail{
    width: 100%;
    margin-right: 10%;
    color: white;
    font-size: 1.5em;
    border: none;
    background-color: #1C1E26;
    border-bottom: 1px solid white;
    padding: 20px;

}
textarea{
    width: 90%;
    height: 100px;
    margin-top: 20px;
    color: #1C1E26;
    font-family: "Quick Sand Light";
    font-size: 1.5em;
    border: 2px solid #1C1E26;
    resize: none;
  
}
label{
    color: #f7f7f8;

    width: 90%;
    font-family: "Quick Sand Light";
    font-size: 2em;
    margin-top: 0.5%;

    padding-bottom: 20px;
    padding-left: 32px;
}
#submit{
    width: 20%;
    font-size: 1.6em;
    height: 10%;
    font-family: "Quick Sand Bold";
    color: #1C1E26;
    margin-top: 5px;
    cursor: pointer;
    margin-top: 30px;
}

#EN{
    cursor: pointer;
}
#ES{
    cursor: pointer;
}
.bot{
    border: none;
    width: 10%;
  
}
.a1{
    width: 100%;
    display: flex;

    justify-content: center;

}
.a1:visited{
    color: #1C1E26;
}
html{scroll-behavior: smooth;}
.footer{
    background-color: #1C1E26;
    width: 100%;
    height: 1008px;
    display: flex;
    flex-direction: column;
}
.a2:visited{
    color: #f7f7f8;
}
.a3:visited{
    color: rgb(11,171,100);
}
.a2{
    width: 100%;
    display: flex;

    justify-content: center;

}
.a3{
    width: 100%;
    display: flex;

    justify-content: center;

}
.a1:link{
    color: #1C1E26;

}
.a2:link{
    color: #f7f7f8;
}
.a3:link{
    color: rgb(11,171,100);
}
.upButton{
    background-color: #32343a;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color:rgb(11,171,100);
    text-decoration: none;
    opacity: 0;

}
.upButton.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
@media (max-width:1024px) and (min-width:769px){
   .head{
    height: 800px;
   }
   .arrowBlack{
    width: 180px;
   }
   #EN{
    font-size: 30px;
    height: 40px;
   }
   h1{
    display: flex;
    justify-content: center;
    align-items: center;
    
   }
   .present{
    height: 800px;
   }
   
   .arrowWhite{
    width: 180px;
   }
   .myInfo{
    height: 800px;
   }
   .lista1 li {
    font-size: 17px;
    width: 100%;
    justify-content: flex-start;
   }
   .lista2 li{
    font-size: 17px;
    justify-content: flex-start;
   }
   .mis{
    font-size: 3.2rem;
   }
   .arrowGreen{
    width: 180px;
   }
   #ES{
    font-size: 30px;
    height: 40px;
   }
}
@media (max-width:768px) and (min-width:426px){
    .head{
        height: 800px;
       }
       .arrowBlack{
        width: 180px;
       }
       #EN{
        font-size: 30px;
        height: 40px;
       }
       h1{
        display: flex;
        justify-content: center;
        align-items: center;
        
       }
       .present{
        height: 800px;
       }
       .arrowWhite{
        width: 180px;
       }
       .myInfo{
        height: 800px;
       }
       .lista1 li {
        font-size: 17px;
        width: 100%;
        justify-content: flex-start;
       }
       .lista2 li{
        font-size: 17px;
        justify-content: flex-start;
       }
       .mis{
        font-size: 3.2rem;
       }
       .arrowGreen{
        width: 180px;
       }
       #ES{
        font-size: 30px;
        height: 40px;
       } 
       .hi h1{
        font-size: 30px;
        display: flex;
        flex-direction: column;
       }
       .hi h2{
        font-size: 25px;
       }
       .hi p {
        font-size: 25px;
       }
       .box p {
        font-size: 25px;
       }
       div button{
        width: 150px;
        font-size: 27px;
        padding: 0;
       }
       .detail h2{
        font-size: 3rem;
       }
       .detail p {
        font-size: 2rem;
       }
       .red{
        display: flex;
        flex-direction: column;
       }
}
@media (max-width:425px) and (min-width:376px){
    .head{
        height: 800px;
       }
       .arrowBlack{
        width: 180px;
       }
       #EN{
        font-size: 30px;
        height: 40px;
       }
       h1{
        display: flex;
        justify-content: center;
        align-items: center;
        
       }
       .present{
        height: 800px;
       }
       .arrowWhite{
        width: 180px;
       }
       .myInfo{
        height: 800px;
       }
       .lista1 li {
        font-size: 10px;
        width: 100%;
        justify-content: flex-start;
       }
       .lista2 li{
        font-size: 17px;
        justify-content: flex-start;
       }
       .mis{
        font-size: 3.2rem;
       }
       .arrowGreen{
        width: 180px;
       }
       #ES{
        font-size: 30px;
        height: 40px;
       } 
       .hi h1{
        font-size: 25px;
        display: flex;
        flex-direction: column;
       }
       .hi h2{
        font-size: 20px;
       }
       .hi p {
        font-size: 20px;
       }
       .box p {
        font-size: 20px;
       }
       div button{
        width: 85px;
        font-size: 15px;
        padding: 0;
       }
       .detail h2{
        font-size: 3rem;
       }
       .detail p {
        font-size: 2rem;
       }
       
       .img{
        font-size: 0.8rem;
       }
       .img2{
        font-size: 0.4rem;
       }
       .box h2{
        font-size: 30px;
       }
       .lista1 li {
        font-size: 10px;
        justify-content: center;
        align-items: center;
       }
       .lista2 li{
        font-size: 10px;
        justify-content: center;
        align-items: center;
       }
       .red{
        display: flex;
        flex-direction: column;
       }
       .mis{
        font-size: 2.2rem;
        align-items: center;
        justify-content: center;
       }
       .red2{
        width: 100%;
       }
       .red1{
        width: 100%;
       }
       
}